pypdfium2
tika @ git+https://github.com/verbicloud/tika-python.git@master
bs4
nltk
python-magic
numpy
tqdm
symspellpy
pandas
mistune
lxml
unidecode
nlm-utils @ git+https://github.com/verbicloud/nlm-utils.git@main
llmsherpa
