aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
async-timeout==4.0.3
attrs==24.2.0
awslambdaric==3.0.0
beautifulsoup4==4.12.3
boto3==1.35.66
botocore==1.35.66
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dateparser==1.2.0
dicttoxml==1.7.16
distro==1.9.0
dnspython==2.1.0
editdistpy==0.1.5
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
jiter==0.7.1
jmespath==1.0.1
joblib==1.4.2
llmsherpa==0.1.4
lxml==4.9.1
minio==7.1.0
mistune==2.0.3
money==1.3.0
msgpack==1.0.2
multidict==6.1.0
nlm-utils==0.1.2
nltk==3.6.2
numpy==1.24.4
openai==1.55.0
pandas==2.2.3
propcache==0.2.0
pydantic==2.10.0
pydantic_core==2.27.0
pymongo==3.11.4
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-magic==0.4.22
pytz==2024.2
redis==3.5.3
regex==2024.11.6
requests==2.32.3
s3transfer==0.10.4
simplejson==3.19.3
six==1.16.0
snapshot-restore-py==1.0.0
sniffio==1.3.1
soupsieve==2.6
symspellpy==6.7.8
tika @ git+https://github.com/1greentangerine/tika-python.git@463b69efeea781d3e79a6cda4acfbf540176b8ee
tiktoken==0.8.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
Unidecode==1.3.8
urllib3==1.26.6
word2number==1.1
xxhash==2.0.2
yarl==1.17.2
